@charset "UTF-8";
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.lfooter {
  margin-bottom: 20px;
}

.flex {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 479px) {
  .conteiner {
    max-width: 479px;
  }
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.hiden {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Heder */
.page {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

.page-header {
  position: relative;
}

@media screen and (min-width: 768px) {
  .page-header__conteiner {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__conteiner {
    display: flex;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .main-nav {
    justify-content: space-between;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.main-nav__mobil-menu {
  z-index: 3;
  display: inline-flex;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .main-nav__mobil-menu {
    display: none;
  }
}

.main-nav__mobil-menu .main-nav__menu-close {
  display: none;
}

.main-nav__mobil-menu.is-open .main-nav__menu-close {
  display: block;
}

.main-nav__mobil-menu.is-open .main-nav__menu-open {
  display: none;
}

.testt {
  margin-bottom: 250px;
}

.main-nav__container {
  display: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  font-style: 20px;
}
.main-nav__container.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .main-nav__container {
    display: none;
  }
}

.main-nav__site-nav {
  display: flex;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .main-nav__site-nav {
    display: none;
  }
}

.main-nav__mobile-link-nav {
  display: block;
  padding-bottom: 32px;
  text-align: start;
  color: #212121;
  font-weight: 500;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.main-nav__mobile-link-nav:hover,
.main-nav__mobile-link-nav:focus {
  color: #2196F3;
}

.main-nav__mobile-link-nav.current {
  color: #2196F3;
}

.main-nav__mobile-link-nav:last-child {
  margin-bottom: 0;
}

.main-nav__link-nav.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__social {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-right: -10px;
  justify-content: center;
}
.header__social-item-mobile {
  margin-top: 10px;
  margin-right: 10px;
}
.header__social-link-mobile {
  display: block;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
  justify-content: center;
}
.header__social-item-mobile:last-child .header__social-link-mobile {
  padding: 0;
  border: none;
}

.header__item-nav-mobile {
  margin-bottom: 32px;
}
.header__item-nav-mobile:last-child {
  margin-bottom: 0;
}

.header__link-nav-mobile {
  font-weight: 500;
  font-size: 40px;
  line-height: 1, 175;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
}
.header__link-nav-mobile:hover, .header__link-nav-mobile:focus {
  color: #2196F3;
}

.header__list-contact-mobile {
  margin-bottom: 63px;
}

.header__item-contact-mobile {
  margin-bottom: 32px;
}
.header__item-contact-mobile:last-child {
  margin-bottom: 0;
}

.header__link-contact-mobile {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.header__link-mail-mobile {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: var(--complementary-color);
  text-decoration: none;
}

.main-nav__site-nav .main-nav__item + .main-nav__item {
  margin-left: 50px;
}

.main-nav__link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link-nav:hover,
.main-nav__link-nav:focus {
  color: #2196F3;
}

.main-nav__link-nav.current {
  position: relative;
  color: #2196F3;
}

.main-nav__link-nav.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Аутификация */
.auth-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
    align-items: center;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.auth-nav .auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}
@media screen and (max-width: 1199px) {
  .auth-nav .auth-nav__item + .auth-nav__item {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .auth-nav__item {
    margin-bottom: 10px;
  }
}

.auth-nav.list {
  margin-left: auto;
}

.auth-nav__linkpadding {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: #757575;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .auth-nav__linkpadding {
    padding: 0;
  }
}

.auth-nav__linkpadding:hover,
.auth-nav__linkpadding:focus,
.auth-nav__link-alink.auth-nav__linkpadding:focus {
  color: #2196F3;
  fill: #2196F3;
}

.auth-nav__nav-svg {
  margin-right: 10px;
}

.main-nav__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .main-nav__logo {
    margin-right: auto;
  }
}

.main-nav__logo-studio {
  color: #000000;
}

.main-nav__logo-web {
  color: #2196F3;
}

.footer__logo-web {
  color: #2196F3;
}

.footer__logo-studiow {
  color: #ffffff;
  text-decoration: none;
}

.hero {
  background-color: #ffffff;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-bg-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 480px;
  margin: 0 auto;
  padding: 118px 60px;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg-tab.jpg);
    max-width: 768px;
    padding: 118px 204px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg-tab-x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg.jpg);
    max-width: 1600px;
    padding: 200px 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-bg-x2.jpg);
  }
}
.hero .hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #2196F3;
  color: #ffffff;
  border: none;
}

.hero__button.hero__primary {
  color: #ffffff;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
}

.hero__button.hero__primary:hover,
.hero__button.hero__primary:focus {
  background-color: #188CE8;
  color: #ffffff;
  border: none;
}

.specifics {
  padding-top: 94px;
}
@media screen and (max-width: 768px) {
  .specifics {
    padding-bottom: 60px;
  }
}

.specifics__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .specifics__peculiarities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .specifics__peculiarities {
    flex-wrap: nowrap;
  }
}

.specifics__subtitle {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .specifics__subtitle {
    text-align: center;
  }
}

.specifics__item {
  margin-left: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .specifics__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .specifics__item:nth-last-child(-n+1) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .specifics__peculiarities .specifics__item + .specifics__item {
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .specifics__peculiarities .specifics__item + .specifics__item {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .specifics__item:nth-child(odd) {
    margin-left: 0;
  }
}

.specifics__peculiarities .specifics__item {
  width: 270px;
}
@media screen and (max-width: 1199px) {
  .specifics__peculiarities .specifics__item {
    width: 354px;
  }
}
@media screen and (max-width: 768px) {
  .specifics__peculiarities .specifics__item {
    width: 100%;
  }
}

.specifics__div-svg {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #F5F4FA;
}

.specifics__subtitle {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.specifics__paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 767px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__paragraphly {
  padding-bottom: 16px;
}

.work__works {
  display: flex;
}

.work__item {
  position: relative;
}

.work__item-tittle {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* .section .work {
    line-height: 1.19;
    letter-spacing: 0.03em;

} */
.work__works .work__item + .work__item {
  margin-left: 30px;
}

.bg-section-command {
  background-color: #F5F4FA;
}

.team__title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team__command {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .team__command {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .team__imgcommand {
    width: 460px;
  }
}
@media screen and (min-width: 768px) {
  .team__imgcommand {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__imgcommand {
    width: 270px;
    height: 260px;
  }
}

.team__team {
  margin-bottom: 10px;
}

.section .team__team {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__dcommand {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__itemcomand {
  text-align: center;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 767px) {
  .team__itemcomand {
    max-width: 450px;
    height: 622px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .team__itemcomand {
    width: 354px;
    height: 536px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team__itemcomand:nth-child(n) {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__itemcomand:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__itemcomand:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team__itemcomand:nth-last-child(-n+3) {
    margin-left: 30px;
  }
}

.team__command-svg {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.team__command-li {
  margin-right: 10px;
}

.team__command-li:nth-child(4n) {
  margin-right: 0;
}

.team__button-svg {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: inherit;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__button-svg:hover, .team__button-svg:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.clients {
  padding-top: 64px;
  padding-bottom: 64px;
}

.clients__title {
  color: #212121;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__button-svg {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  background-color: inherit;
  cursor: pointer;
  fill: #AFB1B8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .clients__button-svg {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__button-svg {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__button-svg {
    width: 170px;
  }
}

.clients__button-svg:hover,
.clients__button-svg:focus {
  border: 1px solid #2196F3;
  fill: #2196F3;
}

.clients__item {
  display: flex;
  padding-left: 0;
}
@media screen and (max-width: 1199px) {
  .clients__item {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.clients__item .list {
  margin-right: 30px;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .clients__item .list {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item .list {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  min-width: 450px;
  max-height: 100vh;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__form-titel {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 6px;
}

.modal__button-close:hover,
.modal__button-close:focus {
  fill: #2196F3;
}

.modal__button-modal {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.modal__svg {
  padding: 0;
  height: 16px;
}

.modal__form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.modal__form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-field:focus-within .modal__form-input,
.modal__form-field:hover .modal__form-input {
  border: 1px solid #2196F3;
}

.modal__form-field:focus-within .modal__form-input,
.modal__form-field:hover .form-input {
  border: 1px solid #2196F3;
  outline: none;
}

.modal__form-field:focus-within .modal__subscribe-form-div,
.modal__form-field:hover .modal__subscribe-form-div {
  fill: #2196F3;
}

.modal__form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__form-input {
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal__subscribe-form-div {
  position: absolute;
  left: 12px;
  bottom: 12px;
  margin: 0;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__textarea-field {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal__form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5019607843);
}

.modal__textarea-field:focus-within,
.modal__textarea-field:hover {
  border-color: #2196F3;
  outline: none;
}

.modal__form-checkbox {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__checkbox-icon {
  width: 16px;
  height: 15px;
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-checkbox-title {
  margin-left: 7px;
}

.modal__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196F3;
}

.modal__input-checkbox:checked + .modal__checkbox-icon {
  background-color: #2196F3;
  background-image: url(../Images/iconcheck.svg);
  background-size: contain;
  border-color: transparent;
  background-origin: border-box;
}

/* 
_______________
footer 
_______________*/
.footer {
  font-style: normal;
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer {
    justify-content: center;
  }
}

.footer__conteiner {
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer__conteiner {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .footer__conteiner {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: flex;
  }
}
@media screen and (max-width: 1199px) {
  .footer__conteiner {
    flex-wrap: wrap;
  }
}

.footer__adress-div {
  margin-right: 70px;
}
@media screen and (max-width: 767px) {
  .footer__adress-div {
    margin-right: 0;
  }
}
@media screen and (max-width: 1199px) {
  .footer__adress-div {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 0;
  }
}

.footer__adress {
  font-style: normal;
}
@media screen and (max-width: 767px) {
  .footer__adress {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 60px;
  }
}

.footer__logof {
  display: block;
  margin-bottom: 30px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .footer__logof {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  }
}

.footer__par {
  margin-bottom: 9px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__listf {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__listf:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link-navf {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__button-svg {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__button-svg:hover,
.footer__button-svg:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.footer__command-li {
  margin-right: 10px;
}

.footer__command-li:nth-child(4n) {
  margin-right: 0;
}

.footer__conect {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer__conect {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.footer__mail {
  padding-left: 0;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer .list {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.footer__subscribe {
  display: block;
  margin-left: 93px;
}
@media screen and (max-width: 767px) {
  .footer__subscribe {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 0;
  }
}
@media screen and (max-width: 1199px) {
  .footer__subscribe {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 0;
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer__conect-div {
    display: block;
    justify-content: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer__conect-div {
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__form {
    margin: auto;
    padding: 0px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    min-width: 570px;
    margin-left: 93px;
  }
}

.footer__subscribe-flex {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer__subscribe-flex {
    display: block;
  }
}

.footer__subscribe-button {
  display: flex;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196F3;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .footer__subscribe-button {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__subscribe-svg {
  margin-left: 10px;
}

.footer__subscribe-input {
  width: 100%;
  padding: 15px 16px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .footer__subscribe-input {
    width: 100%;
    margin-bottom: 20px;
  }
}

.footer__subscribe-input:focus,
.footer__subscribe-input:hover {
  border-color: #2196F3;
  outline: none;
}

.footer__subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-form-field {
  position: relative;
  width: 448px;
  height: 50px;
  display: flex;
  flex-direction: column;
}

.footer__con {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer__con {
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  .footer__con {
    justify-content: center;
  }
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 767px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.portfolio__main-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .portfolio__main-nav {
    align-items: start;
    padding-left: 0;
  }
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__pnav {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .portfolio__pnav {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-filter__item {
    margin-top: 15px;
  }
}

.portfolio__bportfolio {
  padding: 6px 22px;
  cursor: pointer;
  color: #212121;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__bportfolio:hover,
.portfolio__bportfolio:focus {
  background-color: #2196F3;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio__lfooter__ogof {
  display: block;
  margin-bottom: 30px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.portfolio__main-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}
@media screen and (max-width: 767px) {
  .portfolio__main-item {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__main-item {
    justify-content: start;
  }
}

.portfolio__link-portfolio {
  display: block;
  text-decoration: none;
  margin-bottom: 0px;
}

.portfolio__project-card {
  display: block;
}

.portfolio__litem {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__litem {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 0;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__litem:nth-child(3n) {
    margin-right: 0;
  }
}
.portfolio__litem:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__litem:hover,
.portfolio__litem:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio__divportfolio {
  padding: 20px 24px;
  border-top: none;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.fl {
  flex-grow: 1;
}

.portfolio__project-div {
  position: relative;
  content: "";
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.portfolio__projects-div-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
}

.portfolio__litem {
  display: block;
  width: 370px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .portfolio__litem {
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__litem {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__litem {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__litem:nth-child(3n) {
    margin-right: 0;
  }
}
.portfolio__litem:nth-last-child(-n+3) {
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .portfolio__litem:nth-last-child(-n+3) {
    margin-bottom: 30px;
  }
}

.portfolio__litem:hover,
.portfolio__litem:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio__project-card:hover,
.portfolio__project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__project-card:hover .portfolio__projects-div-text,
.portfolio__project-card:focus .portfolio__projects-div-text {
  transform: translateY(0);
}

.portfolio__link-portfolio .portfolio__work {
  color: #757575;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.portfolio__timg-portfolio {
  display: block;
}

.portfolio__team {
  margin-bottom: 10px;
}

.portfolio__link-portfolio .portfolio__team {
  color: #212121;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.portfolio__work {
  margin-bottom: 16px;
}/*# sourceMappingURL=main.css.map */