/* 
_______________
footer 
_______________*/

.footer {
    font-style: normal;
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:768px) {
        justify-content: center;
    }
}

.footer__conteiner {
    
    align-items: baseline;
    @media screen and (max-width: 767px) {
        display: block;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        
        justify-content: space-around;
    }
    
    @media screen and (min-width:1200px) {
        display: flex;
    }
    @media screen and (max-width:1199px) {
    flex-wrap: wrap;
    }
}

.footer__adress-div {
    margin-right: 70px;
    @media screen and (max-width: 767px) {
        margin-right: 0;
    }
    @media screen and (max-width: 1199px) {
        // margin-right: 165px;
        
            justify-content: center;
            text-align: center;
            margin: auto;
            margin-left: 0;
        
    }
}

.footer__adress {
    font-style: normal;
    @media screen and (max-width:767px) {
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-bottom: 60px;
    }
}

.footer__logof {
    display: block;
    margin-bottom: 30px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    @media screen and (max-width:767px) {
        justify-content: center;
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
    }
}




.footer__par {
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer__listf {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__listf:not(:last-child) {
    margin-bottom: 9px;
}

.footer__link-navf {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer__button-svg {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;

    transition: background-color 250ms $timing, fill 250ms $timing;

}

.footer__button-svg:hover,
.footer__button-svg:focus {
    background-color: $accent-color;
    fill: #FFFFFF;
}

.footer__command-li {
    margin-right: 10px;
}

.footer__command-li:nth-child(4n) {
    margin-right: 0;
}

.footer__conect {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
@media screen and (max-width:767px) {

    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}
}

.footer__mail {
    padding-left: 0;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer .list {
    display: flex;
    @media screen and (max-width: 767px) {
        justify-content: center;
        margin-bottom: 60px;
    }
}

.footer__subscribe {
    display: block;
    margin-left: 93px;
    // width: 576px;
@media screen and (max-width: 767px) {
    justify-content: center;
    text-align: center;
    margin: auto;
margin-left: 0;
}
@media screen and (max-width: 1199px) {
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-left: 0;
    margin-top: 60px;
}
}
.footer__conect-div{
@media screen and (max-width:767px) {
    display: block;
    justify-content: center;
}
@media screen and (max-width: 1199px) {
    justify-content: center;
    text-align: center;
   
    margin-left: 0;
}
}
.footer__form{
    @media screen and (max-width:767px) {
        margin: auto;
        padding: 0px 15px;
    
    }
    
    @media screen and (min-width:1200px) {
        min-width: 570px;
        margin-left: 93px;
    }
}
.footer__subscribe-flex {
    display: flex;
    align-items: center;
    @media screen and (max-width:767px) {
        display: block;
    }
}

.footer__subscribe-button {
    display: flex;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
    color: $primary-white-color;
    background-color: $accent-color;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    align-items: center;

    transition: background-color 250ms $timing,
        color 250ms $timing;
        @media screen and (max-width: 767px) {
            position: relative;
            // transform: translateX(120px);
            margin-left: auto;
            margin-right: auto;

        }
}

.footer__subscribe-svg {
    margin-left: 10px;
}

.footer__subscribe-input {
    width: 100%;
    padding: 15px 16px;
    min-width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: $primary-white-color;
    transition: border-color 250ms $timing;
    @media screen and (max-width:767px) {
        width: 100%;
        margin-bottom: 20px;
    
    }
}

.footer__subscribe-input:focus,
.footer__subscribe-input:hover {
    border-color: $accent-color;
    outline: none;
}

.footer__subscribe-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-form-field {
    position: relative;

    width: 448px;
    height: 50px;

    display: flex;
    flex-direction: column;

}
.footer__con {
display: flex;
align-items: center;

@media screen and (max-width: 767px) {
    display: block;
}
@media screen and (max-width: 1199px) {
    justify-content: center;
}
}
