/* Heder */
.page {
    background-color: $primary-bg-color;
    color: $primary-text-color;
    font-family: Roboto, sans-serif;
    
}
.page-header{
    position: relative;
    
}
.page-header__conteiner{
@media screen and (min-width: 768px) {

    display: flex;
}

@media screen and (min-width: 1200px) {

    display: flex;
}}
// меню

.main-nav {
    
    display: flex;
    align-items: center;
@media screen and (max-width:768px) {
    justify-content: space-between;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}
}
// мобильное меню

.main-nav__mobil-menu{
    z-index: 3;
    display: inline-flex;
        // margin: 0;
        
        padding: 0;
        border: 0;
       cursor: pointer;
       background-color: transparent;
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.main-nav__mobil-menu .main-nav__menu-close{
    display: none;
}
.main-nav__mobil-menu.is-open .main-nav__menu-close{
    display: block;
}
.main-nav__mobil-menu.is-open .main-nav__menu-open{
    display: none;
}
.testt{
    margin-bottom: 250px;
}
.main-nav__container{
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  width: 100vw;
  height: 100vh;

  flex-direction: column;
  background-color: white;
    padding: 20px;
    // text-align: center;
    font-style: 20px;
&.is-open {
    display: block;
}
@media screen and (min-width: 768px) {
    display: none;
}
}

.main-nav__site-nav {
    display: flex;
    margin-left: 93px;
    @media screen and (max-width: 767px) {
        display: none;
    
    }
}
.main-nav__mobile-link-nav {
    display: block;
    padding-bottom: 32px;
    text-align: start;

    color: $title-text-color;
    font-weight: 500;
    font-weight: 500;
font-size: 40px;
line-height: 1.1;
letter-spacing: 0.02em;

color: #212121;
    text-decoration: none;

    // position: relative;
    // transition: color 250ms $timing;
}

.main-nav__mobile-link-nav:hover,
.main-nav__mobile-link-nav:focus {
    color: $accent-color;
}

.main-nav__mobile-link-nav.current {
    
    color: $accent-color;
}
.main-nav__mobile-link-nav:last-child{
margin-bottom: 0;
}
.main-nav__link-nav.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;

    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 250ms $timing;
}

.header__social{
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-right: -10px;
    justify-content: center;
    
      &-item-mobile{
        margin-top: 10px;
        margin-right: 10px;
       
      }
    
      &-link-mobile{
        display: block;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: $accent-color;
        text-decoration: none;
       justify-content: center;
        
    
      }
      &-item-mobile:last-child &-link-mobile{
        padding: 0;
        border: none;
      }
    }
    .header__item-nav-mobile{
        margin-bottom: 32px;
      
          &:last-child{
            margin-bottom: 0;
      }}
      
      .header__link-nav-mobile{
      
        font-weight: 500;
        font-size: 40px;
        line-height: 1,175;
        letter-spacing: 0.02em;
        color: var(--main-color);
        text-decoration: none;
      
          &:hover,
          &:focus {
          color: $accent-color;
      }}
      
      
      .header__list-contact-mobile{
        margin-bottom: 63px;
      }
      
      .header__item-contact-mobile{
        margin-bottom: 32px;
      
        &:last-child{
          margin-bottom: 0;
      }}
      
      .header__link-contact-mobile{
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $accent-color;
        text-decoration: none;
      }
      
      .header__link-mail-mobile{
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17px;
        letter-spacing: 0.02em;
        color: var(--complementary-color);
        text-decoration: none;
      }
      
.main-nav__site-nav .main-nav__item+.main-nav__item {
    margin-left: 50px;

}

.main-nav__link-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    position: relative;
    transition: color 250ms $timing;
}

.main-nav__link-nav:hover,
.main-nav__link-nav:focus {
    color: $accent-color;
}

.main-nav__link-nav.current {
    position: relative;
    color: $accent-color;
}

.main-nav__link-nav.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;

    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 250ms $timing;
}


/* Аутификация */


.auth-nav {
    display: flex;
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: block;
        align-items: center;
        padding-top: 20px;
        // padding-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.auth-nav .auth-nav__item+.auth-nav__item {
    margin-left: 50px;
    @media screen and (max-width: 1199px) {
        margin-left: 0;
    }
}
.auth-nav__item{
    @media screen and (max-width: 1199px) {
        margin-bottom: 10px;
    }
}
.auth-nav.list {
    margin-left: auto;
}

.auth-nav__linkpadding {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    fill: #757575;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms $timing, fill 250ms $timing;
    @media screen and (max-width: 1199px) {
        padding: 0;
    }
}

.auth-nav__linkpadding:hover,
.auth-nav__linkpadding:focus,
.auth-nav__link-alink.auth-nav__linkpadding:focus {
    color: $accent-color;
    fill: $accent-color;
}

.auth-nav__nav-svg {
    margin-right: 10px;
}