.clients {
    padding-top: 64px;
    padding-bottom: 64px;
}

.clients__title {
    color: $title-text-color;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients__button-svg {
    
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    background-color: inherit;
    cursor: pointer;

    fill: #AFB1B8;
    transition: border 250ms $timing,
        fill 250ms $timing;
    @media screen and (max-width: 767px) {
        width: 210px;
      
    }
    @media screen and (min-width: 768px) {
        width: 226px;
    
    }
    @media screen and (min-width: 1200px) {
    width: 170px;
    
    }
}

.clients__button-svg:hover,
.clients__button-svg:focus {
    border: 1px solid $accent-color;
    fill: $accent-color;
}

.clients__item {
    display: flex;
    padding-left: 0;
    
    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
        margin: -15px;

    }
}

.clients__item .list {
    // --items: 2;
    // width: 210px;
    // height: 92px;
    margin-right: 30px;
    justify-content: center;
    @media screen and (max-width: 767px) {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
@media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
}
     
//     @media screen and (max-width: 1199px) {
//       margin-bottom: 30px;
// }
// @media screen and (min-width: 1200px) {
//     margin-right: 30px;
// }
// }
// .clients__item .list:nth-child(2n) {
//     @media screen and (max-width: 767px) {
//     margin-right: 0;
// }}
// .clients__item:nth-last-child(-n + 2) {
//     @media screen and (max-width: 767px) {
//     margin-bottom: 0;
// }}
// .clients__item:nth-child(6n) {
//     @media screen and (min-width: 1199px) {
//         margin-right: 0;
//     }
// }
// .clients__item .list:nth-child(3n) {
//     @media screen and (min-width: 768px) {
//         margin-right: 0;
//     }
// }
// .clients__item .list:nth-child(3n) {
//     @media screen and (min-width: 1199px) {
//         margin-right: 30px;
//     }
// }
// .clients__item .list:nth-last-child(-n + 3) {
//     @media screen and (max-width: 1199px) {
//         margin-bottom: 0;
//     }
}