.bg-section-command {
    background-color: #F5F4FA;
}

.team__title {

    color: $title-text-color;
font-weight: 700;
font-size: 28px;
line-height: calc(33 / 28);
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 30px;

@media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}


// @media screen and (min-width: 1200px) {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }
}

.team__command {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width:1199px) {
        
        flex-wrap: wrap;
    }
   
}
.team__imgcommand{
    @media screen and (max-width:767px) {
        width: 460px;
    }
    @media screen and (min-width:768px) {
        width: 354px;
        height: 374px;
    }
    @media screen and (min-width:1200px) {
        width: 270px;
        height: 260px;
    }
}
.team__team {
    margin-bottom: 10px;
}

.section .team__team {
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

// .team__command .team__itemcomand+.team__itemcomand {
//     margin-left: 30px;
//     @media screen and (max-width:1199px) {
//        margin-left: 0;
    
//     }
// }

.team__dcommand {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__itemcomand {
    text-align: center;

    background-color: $primary-white-color;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    @media screen and (max-width:767px) {
        max-width: 450px;
        height: 622px;
        margin-bottom: 30px;
        
    }   
    @media screen and (max-width:1199px) {
        width: 354px;
        height: 536px;
        margin-bottom: 30px;
    }
    
}
.team__itemcomand:nth-child(n) {
    @media screen and (max-width: 767px) {
        margin-left: 0;
    }
}
.team__itemcomand:nth-child(2n) {
    @media screen and (min-width: 768px)and (max-width: 1199px) {
        margin-left: 30px;
    }
}
.team__itemcomand:nth-last-child(-n + 2) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 0px;
    }
}
.team__itemcomand:nth-last-child(-n + 3) {
    @media screen and (min-width: 1200px) {
        margin-left: 30px;
    }
}
.team__command-svg {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.team__command-li {
    margin-right: 10px;
   
}

.team__command-li:nth-child(4n) {
    margin-right: 0;
}

.team__button-svg {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: inherit;

    fill: #AFB1B8;

    transition: background-color 250ms $timing,
        fill 250ms $timing;
        &:hover,
        &:focus {
            background-color: $accent-color;
            fill: #FFFFFF;
        }
}

